<!----------------------------------------------------------------------------->
<!--  File: app.component.html                                               -->
<!--  Date: 28/03/2022                                                       -->
<!--  Author: Jbristhuille                                                   -->
<!--                                                                         -->
<!--  Description: Main component                                            -->
<!----------------------------------------------------------------------------->

<!-- SUMMARY
  -- Options header
  -- Play zone
-->

<h1>SSBU training workout</h1>

<!-- Options header -->
<app-options-header></app-options-header>
<!---->

<!-- Play zone -->
<app-play-zone></app-play-zone>
<!---->
