<!----------------------------------------------------------------------------->
<!--  File: app.component.html                                               -->
<!--  Date: 28/03/2022                                                       -->
<!--  Author: Jbristhuille                                                   -->
<!--                                                                         -->
<!--  Description: Main component                                            -->
<!----------------------------------------------------------------------------->

<!-- SUMMARY
-->

<h1>SSBU training workout</h1>

<app-options-header></app-options-header>
