<!----------------------------------------------------------------------------->
<!--  File: play-zone.component.html                                         -->
<!--  Date: 28/03/2022                                                       -->
<!--  Author: Jbristhuille                                                   -->
<!--                                                                         -->
<!--  Description: Play zone template, manage game mecanisms                 -->
<!----------------------------------------------------------------------------->

<!-- SUMMARY
-->

<div  id="play-zone-container"
      [ngClass]="{'success': inputRet, 'fail': inputRet === false}">
  <button *ngIf="!isPlaying"
          (click)="launchGame()">
    Play !
  </button>

  <div  class="countdown-text"
        *ngIf="timeBeforePlay != 0 && isPlaying">
    {{timeBeforePlay}}
  </div>

  <div  class="waited-input"
        *ngIf="timeBeforePlay <= 0 && awaitedButton">
    <img src="/assets/img/smash_{{awaitedButton.name}}.svg" alt="{{awaitedButton.name}}">
    <span [style.color]="awaitedButton.color">{{awaitedButton.name}}</span>
  </div>

  <div class="results-modal" *ngIf="endGame && !isPlaying">
    <div>
      <div>Success: </div>
      <div>{{endGame.success}}/{{this.steps}}</div>
    </div>

    <div>
      <div>Fails: </div>
      <div>{{endGame.fails}}/{{this.steps}}</div>
    </div>

    <div>
      <div>Best: </div>
      <div>{{endGame.best}}s</div>
    </div>

    <div>
      <div>Worse: </div>
      <div>{{endGame.worse}}s</div>
    </div>

    <div>
      <div>Median: </div>
      <div>{{endGame.median}}s</div>
    </div>

    <div>
      <div>Average: </div>
      <div>{{endGame.average}}s</div>
    </div>
  </div>
</div>
